/* CSS declarations go here */

body {
	padding-top: 70px;
}

#visjs{
	height:600px;
}
.vis-label{
	fill-opacity:0;
}

.vis-label:hover{
	fill-opacity:1;
}

#visjs3d {
	height: 600px;
}

#visjsbar {
	height: 600px;
}