/* CSS declarations go here */

html, body {
	min-height: 100%;
	height: 100%;
	padding-top: 70px;
	position: relative;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

#visjs{
	height:600px;
	min-height: 100%;
}
.vis-label{
	fill-opacity:0;
}

.vis-label:hover{
	fill-opacity:1;
}

#visjs3d {
	height: 600px;
	min-height: 100%;
}

#visjsbar {
	height: 600px;
	min-height: 100%;
}